@model MyPetProject.Data.Models.Food

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <link href="~/css/details.css" rel="stylesheet" />
}

@{
    var parentModel = "FoodTypes";
    var name = Model.Name;
    var picture = Model.PicUrl;
    var description = Model.Description;
    var foodType = Model.FoodTypeName;
    var user = Model.UserId;


    <div class="d-flex h-100 text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

            <main class="card px-5 nav flexing" style="border-radius: 50px;">

                <h3>Food</h3>
                <h1>@name</h1>
                <p class="lead mx-auto d-block" style="max-width: 70%; height: auto;">
                    @if (!picture.StartsWith("http") &&
                     !picture.EndsWith(".jpg") &&
                     !picture.EndsWith(".png") &&
                     !picture.EndsWith(".jpeg"))
                    {
                        <img class="card-img-top" src="~/img/no-image.png" alt="Card image cap">
                    }
                    else
                    {
                        <img class="card-img-top" src="@picture" alt="Card image cap">
                    }
                </p>
                <p class="lead">Group: <a href="~/@parentModel/@foodType">@foodType</a>
                <p class="lead">@description</p>

                <p class="lead">
                    <a href="javascript:history.back()" class="btn btn-primary">Go Back</a>
                    @{
                        var userId = "";
                        if (this.User.Claims.Any())
                        {
                            userId = this.User.Claims.ToList()[0].Value;
                            if (user == userId)
                            {
                                <a asp-action="Edit" asp-route-id="@name" class="btn btn-warning">Edit</a>
                                <a asp-action="Delete" asp-route-id="@name" class="btn btn-danger">Delete</a>
                            }
                        }
                    }
                </p>
            </main>
        </div>
    </div>
}