@model IEnumerable<MyPetProject.Data.Models.Food>

@{
    ViewData["Title"] = "Foods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewContext.HttpContext.Request.Path.ToString().Split("/").Last().Replace("%20", " ")</h1>

<p>
    <a asp-action="Create">Create new Food</a>
</p>
<p>
    <a href="javascript:history.back()">Go Back</a>
</p>
<table class="table">
    <tbody>
        <div class="row mt-2 mb-4">
            @foreach (var item in Model)
            {
            <div class="card col-6 col-lg-3 game-card">
                <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.PicUrl)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Description</a>
                    <a href="@item.Name" class="btn btn-primary">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.Name" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Name" class="btn btn-danger">Delete</a>
                </div>
            </div>
            }
        </div>
    </tbody>
</table>
