@model MyPetProject.Data.Models.Subbreed

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">Delete</h1>

<div>
    <h4>Subbreed</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BreedName)
        </dd>
        <p>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PicUrl)
        </dt>
        <dd class="card col-6 col-lg-3 game-card">
            @{
                var item = Html.DisplayFor(model => model.PicUrl);
                var itemCheck = Html.ValueFor(model => model.PicUrl);

                @if (!itemCheck.StartsWith("http"))
                {
                    <img class="card-img-top" src="~/img/subbreeds/@item" alt="Card image cap">
                }
                else
                {
                    <img class="card-img-top" src="@item" alt="Card image cap">
                }
            }
        </dd>
        </p>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <h3 class="text-danger">Are you sure you want to delete this?</h3>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a href="javascript:history.back()">Go Back</a>
    </form>
</div>
