@model MyPetProject.Data.Models.Kingdom

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var name = @Html.DisplayFor(model => model.Name);
    var description = @Html.DisplayFor(model => model.Description);
    var group = @Html.DisplayFor(model => model.Group);
    var diet = @Html.DisplayFor(model => model.Diet);
    var isPet = @Html.DisplayFor(model => model.IsPet);
    var isFarm = @Html.DisplayFor(model => model.IsFarm);

    <style>
        [type=checkbox]::before {
            left: 2px;
            top: -12px;
        }
    </style> 

    <div class="row justify-content-md-center text-center">
        <div class="col-4">

            <h1 class="text-danger">Delete</h1>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <h3>@name</h3>
                </div>
                <p>
                    <div class="card col-12 col-lg-12 game-card">
                        @if (!Model.PicUrl.StartsWith("http") &&
                        !Model.PicUrl.EndsWith(".jpg") &&
                        !Model.PicUrl.EndsWith(".png") &&
                        !Model.PicUrl.EndsWith(".jpeg"))
                        {
                            <img class="card-img-top" src="~/img/no-image.png" alt="Card image cap">
                        }
                        else
                        {
                            <img class="card-img-top" src="@Model.PicUrl" alt="Card image cap">
                        }
                    </div>
                </p>
                <div class="col-sm-12">
                    Group : @group
                </div>
                <p>
                    <div class="col-sm-12">
                        Diet : @diet
                    </div>
                </p>
                <div class="col-sm-12" >
                    Is Pet Animal : @isPet
                </div>
                <p>
                    <div class="col-sm-12">
                        Is Farm Animal : @isFarm
                    </div>
                </p>
                <div class="col-sm-12">
                    Description : @description
                </div>
            </div>

            <h3 class="text-danger">Are you sure you want to delete this?</h3>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a href="javascript:history.back()">Go Back</a>
            </form>
        </div>
    </div>
}
