@model MyPetProject.Web.ViewModels.Search.SearchViewModel

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/search.css" rel="stylesheet" />
</head>
<div class="container-fluid" style="margin-top: 30px;">
    <!-- Tables -->
    <div id="tables" data-interval="false">

        <!-- Indicators -->
        <div style="margin-bottom: -40px; margin-right: -40px;">
            <div class="secondMenu" style="position: relative; margin-left: 460px; z-index:11;">
                <span class="table table-striped table-bordered"><a id="kingdomTableBtn" data-target="#tables" asp-controller="Search" asp-action="SearchKingdoms">Kingdoms</a></span>
                <span class="table table-striped table-bordered"><a id="breedTableBtn" data-target="#tables" asp-controller="Search" asp-action="SearchBreeds" class="active">Breeds</a></span>
                <span class="table table-striped table-bordered"><a id="subbreedTableBtn" data-target="#tables" asp-controller="Search" asp-action="SearchSubbreeds">Subbreeds</a></span>
                <span class="table table-striped table-bordered"><a id="foodTypeTableBtn" data-target="#tables" asp-controller="Search" asp-action="SearchFoodTypes">Food Types</a></span>
                <span class="table table-striped table-bordered"><a id="foodTableBtn" data-target="#tables" asp-controller="Search" asp-action="SearchFoods">Foods</a></span>
            </div>

        </div>

        <div style="position:relative;">

            <div id="breedTable">
                <div class="row">
                    <!-- Breeds Sidebar -->
                    <div class="col-sm-2" style="position: relative; z-index: 12;">
                        <nav class="nav flexing card-group-item check table table-bordered" data-spy="affix" data-offset-top="10" style="margin-bottom: -40px;">

                            <!-- Kingdoms Names -->
                            <header class="card-header">
                                <h6 class="title">Kingdom Names</h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-header">
                                    @{
                                        var kingdoms = Model.Breeds.Select(x => x.KingdomName);
                                        var distinctList = new List<string>();
                                        foreach (var kingdom in kingdoms)
                                        {
                                            if (!distinctList.Contains(kingdom))
                                            {
                                                distinctList.Add(kingdom);
                                            }
                                        }
                                        foreach (var kingdomName in distinctList)
                                        {
                                            var counter = Model.Breeds.Where(x => x.KingdomName == kingdomName).Count();
                                            var nameNoSpace = kingdomName.Replace(" ", "");
                                            <div class="custom-control custom-checkbox" style="box-shadow: none;">
                                                <span class="float-right badge round" style="color:black; margin-right:-10px;">@counter</span>
                                                <input type="checkbox" class="custom-control-input" id="@nameNoSpace" onclick="checkItem(@nameNoSpace, 2, 'breeds')" checked>
                                                <label class="custom-control-label" for="@nameNoSpace">@kingdomName</label>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </nav>
                    </div>

                    @* Breeds Search *@
                    <div class="col-sm-10">
                        <table id="breeds" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Kingdoms Name</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Breeds)
                                {
                                    <tr onclick="document.location = '../Breeds/Details/@item.Name.Replace(" ","%20")';">
                                        <td>
                                            @if (!item.PicUrl.StartsWith("http"))
                                            {
                                                if (!item.PicUrl.EndsWith(".jpg") && !item.PicUrl.EndsWith(".png") && !item.PicUrl.EndsWith(".jpeg"))
                                                {
                                                    <img class="rounded-sm img-thumbnail" src="~/img/no-image.png" alt="Card image cap">
                                                }
                                                else
                                                {
                                                    <img class="rounded-sm img-thumbnail" src="~/img/breeds/@item.PicUrl" alt="Card image cap">
                                                }
                                            }
                                            else
                                            {
                                                <img class="rounded-sm img-thumbnail" src="@item.PicUrl" alt="Card image cap">
                                            }
                                        </td>
                                        <td>@item.Name</td>
                                        <td>@item.KingdomName</td>
                                        <td><div class="table table-striped scroller" style="text-align: left;">@item.Description</div></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts
    {
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/js/tables.js"></script>
        <script src="~/js/sidebar.js"></script>
    }
