@model MyPetProject.Data.Models.Breed
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <link href="~/css/details.css" rel="stylesheet" />
}

@{
    var modelName = "Breeds";
    var kingdomModel = "Kingdoms";

    var name = Model.Name;
    var picture = Model.PicUrl;
    var description = Model.Description;
    var group = ViewBag.Group;
    var diet = ViewBag.Diet;
    var isPet = ViewBag.IsPet;
    var isFarm = ViewBag.IsFarm;
    var user = Model.UserId;
    var kingdom = Model.KingdomName;

    <div class="d-flex h-100 text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

            <main class="card px-5 nav flexing" style="border-radius: 50px;">

                <h3>Breed</h3>
                <h1>@name</h1>
                <p class="lead mx-auto d-block" style="max-width: 70%; height: auto;">
                    @if (!picture.StartsWith("http") &&
                    !picture.EndsWith(".jpg") &&
                    !picture.EndsWith(".png") &&
                    !picture.EndsWith(".jpeg"))
                    {
                        <img class="card-img-top" src="~/img/no-image.png" alt="Card image cap">
                    }
                    else
                    {
                        <img class="card-img-top" src="@picture" alt="Card image cap" onerror="this.onerror=null; src='https://i.imgur.com/VlZzxxX.png';">
                    }
                </p>
                <p class="lead">Group: <a href="~/@kingdomModel/@group">@group</a>  |  Diet: <a href="~/@kingdomModel/@diet">@diet</a></p>
                <p class="lead"> Kingdom: <a href="~/@modelName/@kingdom">@kingdom</a>
                <p class="lead">
                    Is it <a href="~/HomeAnimals">Pet</a> Animal ? : @if (isPet)
                    {<span style="color:green">✔</span>}
                    else
                    { <span style="color:darkred">✘</span>}
                </p>
                <p class="lead">
                    Is it <a href="~/FarmAnimals">Farm</a> Animal ? :@if (isFarm)
                    {<span style="color:green">✔</span>}
                    else
                    { <span style="color:darkred">✘</span>}
                </p>
                <p class="lead">@description</p>

                <p class="lead">
                    <a asp-controller="Subbreeds" asp-action="@name" class="btn btn-primary">Group</a>
                    <a href="javascript:history.back()" class="btn btn-primary">Go Back</a>
                    @{
                        var userId = "";
                        if (this.User.Claims.Any())
                        {
                            userId = this.User.Claims.ToList()[0].Value;
                            if (user == userId || this.User.IsInRole("Administrator"))
                            {
                                <a asp-action="Edit" asp-route-id="@name" class="btn btn-warning">Edit</a>
                                <a asp-action="Delete" asp-route-id="@name" class="btn btn-danger">Delete</a>
                            }
                        }
                    }
                </p>
            </main>
        </div>
    </div>
}
