@model IEnumerable<MyPetProject.Data.Models.Breed>

@{
    var modelName = "Breed";
    var nextModelName = "Subbreeds";


    var sectionCount = ViewContext.HttpContext.Request.Path.ToString().Split("/").Length;
    var lastSection = ViewContext.HttpContext.Request.Path.ToString().Split("/").Last();

    if (lastSection.Contains("%20"))
    {
        lastSection = lastSection.Replace("%20", " ");
    }

    ViewData["Title"] = modelName + "s";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <style>
        a {
            color: #4e9aff;
        }
    </style>

    <body class="text-white bg-dark">

        @if (!Model.Any())
        {
            <div class="text-center">
                <h1 class="display-4">The @(modelName + " " + lastSection) is empty ! :(</h1>
            </div>
            <div class="justify-content: center" style="display: flex;justify-content: center">
                @if (this.User.Claims.Any())
                {
                    <p> <a asp-action="Create">Create New @(lastSection + " " + modelName)</a></p>
                    <p style="margin: 0 8px;"> or </p>
                }
                <p><a href="javascript:history.back()">Go Back</a></p>
            </div>
        }
        else
        {
            if (sectionCount == 2)
            {
                <h1>@(modelName + "s")</h1>
            }
            if (sectionCount == 3)
            {
                <h1>@(lastSection)</h1>
            }

            @if (this.User.Claims.Any())
            {
                <p>
                    <a asp-action="Create">Create New @(modelName)</a>
                </p>
            }
            <p>
                <a href="javascript:history.back()">Go Back</a>
            </p>

            <table class="table">
                <tbody>
                    <div class="row mt-2 mb-4">

                        @foreach (var item in Model)
                        {
                            <div class="card col-6 col-lg-3 text-center">
                                <a asp-controller="@(nextModelName)" asp-action="@item.Name">
                                    <div class="card-body">
                                    </div>
                                    @if (!item.PicUrl.StartsWith("http"))
                                    {
                                        if (!item.PicUrl.EndsWith(".jpg") && !item.PicUrl.EndsWith(".png") && !item.PicUrl.EndsWith(".jpeg"))
                                        {
                                            <img class="card-img" src="~/img/no-image.png" alt="Card image">
                                        }
                                        else
                                        {
                                            <img class="card-img" src="~/img/@(modelName + "s")/@item.PicUrl" alt="Card image">
                                        }
                                    }
                                    else
                                    {
                                        <img class="card-img" src="@item.PicUrl" alt="Card image">
                                    }
                                    <div class="card-body d-flex flex-column">
                                        <div class="mt-auto">
                                            <h5 class="card-title">@item.Name</h5>
                                            @if (nextModelName != "")
                                            {
                                                <a asp-controller="@(nextModelName)" asp-action="@item.Name" class="btn btn-primary">Group</a>
                                            }
                                            <a asp-action="Details" asp-route-id="@item.Name" class="btn btn-primary">Details</a>
                                            @{
                                                var userId = "";
                                                if (this.User.Claims.Any())
                                                {
                                                    userId = this.User.Claims.ToList()[0].Value;
                                                    if (item.UserId == userId)
                                                    {
                                                        <a asp-action="Edit" asp-route-id="@item.Name" class="btn btn-warning">Edit</a>
                                                        <a asp-action="Delete" asp-route-id="@item.Name" class="btn btn-danger">Delete</a>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </tbody>
            </table>
        }
    </body>
}