@using MyPetProject.Common
@using MyPetProject.Web.ViewModels.Search
@model SearchViewModel
@{
    this.ViewData["Title"] = "Home Page";
}



@*HOME*@

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Blog Template · Bootstrap v5.0</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .titleImage {
            background-image: url('https://i.imgur.com/VKGPmKU.jpg');
        }
    </style>


</head>
@{
    var kingdom = ViewBag.RandomKingdom;
    var breed = ViewBag.RandomBreed;
    var subbreed = ViewBag.RandomSubbreed;
    var foodType = ViewBag.RandomFoodType;
    var food = ViewBag.RandomFood;

    <body>
        <main class="container">
            <div class="row mb-2">
                <div class="p-4 p-md-5 mb-4 rounded bg-dark titleImage">
                    <div class="col-md-6 px-0">
                        <h1 class="display-5 fst-italic">Welcome to @GlobalConstants.SystemName!</h1>
                        <p class="lead my-4 fw-bold">Look around and see if you find some animal that you like.<br> If you feel lost you can always <a asp-controller="Home" asp-action="About" class="fw-bold">visit the  About page</a>.</p>
                    </div>
                </div>
            </div>

            <div class="row mb-2 d-flex justify-content-center">
                <div class="mb-3" style="max-width: 500px;">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col-md-6">
                            <div class="card-body">
                                <strong class="d-inline-block mb-2 text-primary">Today's Animal Kingdom is...</strong>
                                <h5 class="card-title">@kingdom.Name</h5>
                                <p class="card-text">Group: <span style="color:green">@kingdom.Group</span>  |  Diet: <span style="color:green">@kingdom.Diet</span></p>
                                <p class="card-text">
                                    Is it Pet Animal ? : @if (kingdom.IsPet)
                                    {<span style="color:green">✔</span>}
                                    else
                                    { <span style="color:darkred">✘</span>}
                                </p>
                                <p class="card-text">
                                    Is it Farm Animal ? :@if (kingdom.IsFarm)
                                    {<span style="color:green">✔</span>}
                                    else
                                    { <span style="color:darkred">✘</span>}
                                </p>
                                <a asp-controller="Kingdoms" asp-action="Details" asp-route-id="@kingdom.Name" class="stretched-link">Continue reading...</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="@kingdom.PicUrl" class="img-fluid rounded-start vertical-center">
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="max-width: 500px;">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col-md-6">
                            <div class="card-body">
                                <strong class="d-inline-block mb-2 text-primary">Today's Animal Breed is...</strong>
                                <h5 class="card-title">@breed.Name</h5>
                                <p class="card-text">Group: <span style="color:green">@ViewBag.bGroup</span>  |  Diet: <span style="color:green">@ViewBag.bDiet</span></p>
                                <p class="card-text">
                                    Is it Pet Animal ? : @if (ViewBag.bIsPet)
                                    {<span style="color:green">✔</span>}
                                    else
                                    { <span style="color:darkred">✘</span>}
                                </p>
                                <p class="card-text">
                                    Is it Farm Animal ? :@if (ViewBag.bIsFarm)
                                    {<span style="color:green">✔</span>}
                                    else
                                    { <span style="color:darkred">✘</span>}
                                </p>
                                <a asp-controller="Breeds" asp-action="Details" asp-route-id="@breed.Name" class="stretched-link">Continue reading...</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="@breed.PicUrl" class="img-fluid rounded-start vertical-center">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2 d-flex justify-content-center">
                <div class="mb-3" style="max-width: 500px;">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col-md-6">
                            <div class="card-body">
                                <strong class="d-inline-block mb-2 text-primary">Today's Animal Subbreed is...</strong>
                                <h5 class="card-title">@subbreed.Name</h5>
                                <p class="card-text">Group: <span style="color:green">@ViewBag.sGroup</span>  |  Diet: <span style="color:green">@ViewBag.sDiet</span></p>
                                <p class="card-text">
                                    Is it Pet Animal ? : @if (ViewBag.sIsPet)
                                    {<span style="color:green">✔</span>}
                                    else
                                    { <span style="color:darkred">✘</span>}
                                </p>
                                <p class="card-text">
                                    Is it Farm Animal ? :@if (ViewBag.sIsFarm)
                                    {<span style="color:green">✔</span>}
                                    else
                                    { <span style="color:darkred">✘</span>}
                                </p>
                                <a asp-controller="Subbreeds" asp-action="Details" asp-route-id="@subbreed.Name" class="stretched-link">Continue reading...</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="@subbreed.PicUrl" class="img-fluid rounded-start vertical-center">
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="max-width: 500px;">
                    <div>
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <strong class="d-inline-block mb-2 text-primary">Today's Food Type is...</strong>
                                    <h5 class="card-title">@foodType.Name</h5>
                                    <a asp-controller="FoodTypes" asp-action="Details" asp-route-id="@foodType.Name" class="stretched-link">Continue reading...</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="@foodType.PicUrl" class="img-fluid rounded-start vertical-center">
                            </div>
                        </div>
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <strong class="d-inline-block mb-2 text-primary">Today's Food is...</strong>
                                    <h5 class="card-title">@food.Name</h5>
                                    <a asp-controller="Foods" asp-action="Details" asp-route-id="@food.Name" class="stretched-link">Continue reading...</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="@food.PicUrl" class="img-fluid rounded-start vertical-center">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </main>
    </body>
}
</html>